:root{
--bg:#0f172a;
--text:#ffffff;
--card:#1e293b;
--accent:#38bdf8;
}

body.light{
--bg:#ffffff;
--text:#0f172a;
--card:#f1f5f9;
--accent:#0284c7;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:var(--bg);
color:var(--text);
transition:0.3s;
}

/* NAV */
nav{
display:flex;
justify-content:space-between;
padding:15px 10%;
background:var(--card);
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
text-decoration:none;
color:var(--text);
}

/* HERO */
.hero{
text-align:center;
padding:60px 20px;
background:linear-gradient(135deg,var(--bg),var(--card));
}

.highlight{
color:var(--accent);
}

.hero-buttons{
margin-top:20px;
display:flex;
gap:10px;
justify-content:center;
flex-wrap:wrap;
}

.btn{
padding:10px 20px;
border:none;
background:var(--accent);
color:white;
border-radius:6px;
cursor:pointer;
}

/* SECTIONS */
section{
padding:50px 8%;
text-align:center;
}

/* CARDS */
.about-container,
.tech-grid,
.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.about-card,
.tech-card,
.project-card{
background:var(--card);
padding:20px;
border-radius:10px;
transition:0.3s;
}

.about-card:hover,
.tech-card:hover,
.project-card:hover{
transform:translateY(-6px);
}

/* ICON FIX */
.tech-card img{
width:50px;
height:50px;
margin-bottom:10px;
}

/* CODOLIO */
.codolio-card{
max-width:500px;
margin:auto;
background:var(--card);
padding:30px;
border-radius:12px;
}

/* CONTACT */
.contact-icons{
display:flex;
justify-content:center;
gap:20px;
font-size:28px;
}

.contact-icons img{
width:40px;
height:40px;
transition:0.3s;
}

.contact-icons img:hover{
transform:scale(1.2);
}
.project-card a{
display:inline-block;
margin-top:10px;
padding:8px 14px;
background:var(--accent);
color:white;
border-radius:6px;
text-decoration:none;
}